@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=National+Park:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background--grey: rgb(237, 237, 237);
    --green-3: #0A3711;  
    --green-1: #e7f1e8;
    --shadow: rgba(181, 181, 181, 0.108);
}
body{
    font-family: libre-baskerville;
    background-color: var(--background--grey);
    margin: 0;
    padding: 0;
}

.calendar-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    top: 20vh;
    width: 300px;
    height: 330px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow);
}

.calendar-header{
    display: flex;
    box-sizing: border-box;
    padding: 1rem;
    color: var(--green-1);
    background-color: var(--green-3);
    align-items: center;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    border-radius: 1rem 1rem 0 0;
}

.month-btns{
    display: flex;
    align-items: center;
    align-content: center;
}

.calendar-body{
    display: grid;
    font-size: small;
}

.month-btns > button {
     border: none;
     color : var(--green-1);
}

.month-btns > button > span {
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.previous-month-btn, .next-month-btn{
    all: unset;
    background-color: none;
    border: none;   
    margin-top: 0.2rem;
    position: relative;
}

.next-month-btn{
    margin-left: 0.2rem;
}
.current-month-btn{
    background-color: rgba(255, 255, 255, 0.219);
    position: relative;
    border-radius: 1rem;
    margin-right: 0.7rem;
    padding: 0.2rem 0.4rem;
}

.calendar-body{
    display: flex;;
    flex-direction: column;
}



.calendar-grid-container{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}


.calendar-item {
    display: flex;
    text-align: center;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
}

.calendar-dow {
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-weight: 600;
}

.calendar-date {
    margin: 0.7rem 0;
    transition: ease-in-out()
}

.calendar-month-year{
    display: flex;
    gap: 0.5rem;
}
.grey-text{
    color: rgb(222, 222, 222);
}



